// Variables para colores
$primary-color: #007bff; // Color primario
$primary-hover: #0056b3; // Color de hover
$footer-background: #f1f1f1; // Fondo del footer
$table-header-bg: #f8f9fa; // Fondo del encabezado de la tabla
$table-border-color: #000; // Color de borde de la tabla
$dropdown-hover-bg: rgba(0, 0, 0, 0.1); // Fondo del hover del dropdown
$text-color: #333; // Color de texto general

.navbar {
  &__brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: $primary-color; // Color de la marca
  }

  &__toggler {
    border: none;
    background-color: $primary-color; // Fondo del toggler
    color: #fff; // Color del icono del toggler
  }

  &__collapse {
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    & .navbar__item {
      margin-left: 15px;
    }

    & .navbar__link {
      color: $primary-color; 
      text-decoration: none;
      transition: color 0.3s ease; 

      &:hover,
      &:focus {
        color: $primary-hover; 
      }
    }
  }

  &__dropdown {
    &-item {
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $dropdown-hover-bg; // Color de fondo del hover del dropdown
      }
    }
  }
}

.main {
  padding-top: 2rem;

  .dashboard__table {
    width: 100%;
    border-collapse: collapse;

    &-header {
      background-color: $table-header-bg; // Color de fondo del encabezado
      align-items: center; 
      border: 1.5px solid $table-border-color; // Color del borde de la tabla
    }

    &-row {
      margin-bottom: 10px; 

      & td {
        border: 1.5px solid $table-border-color; // Color de borde de las celdas
        text-align: center; 
        border-radius: 20px; 
        justify-content: center;

        .dashboard__table-content {
          display: flex; 
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .dashboard__table-item {
            flex-grow: 1;             
            text-align: center; 
            padding: 20px;
            margin: 0px 20px;
            display: flex;
            justify-content: space-evenly;  
            align-items: center;      
            color: $text-color; // Color del texto dentro de la tabla
          }
        }
      }
    }
  }
}

.footer {
  background-color: $footer-background;
  padding: 2rem 0;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-bottom: 1rem;
    color: $text-color; // Color del texto del footer
  }

  &__links {
    display: flex;
    gap: 15px;
  }

  &__link {
    color: $primary-color; 
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: $primary-hover; 
    }
  }
}
