@import '../global/variables.scss';

.dashboard {
    width: 90%;
    margin: 0 auto;

    .col-md-4 {
        display: flex;
        align-items: flex-start;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-left: 0.5rem;
        margin-top: 10px;
    
        .btn {
            padding: 0.6rem 1.2rem;
            border-radius: 25px;
            font-size: 0.9rem;
            margin-top: 0.75rem;
            display: inline-block;
            text-align: center;
            transition: background-color 0.3s ease;

            &-warning {
                background-color: #ffc107;
                color: #16213e;
                &:hover {
                    background-color: lighten(#ffc107, 10%);
                }
            }

            &-danger {
                background-color: #dc3545;
                color: white;
                &:hover {
                    background-color: lighten(#dc3545, 10%);
                }
            }
        }
    
    }

    &__card {
        .card {
            width: 100%;
            height: 250px;
            
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;
            background-color: #ffffff;
            padding: 1rem;
            display: flex;
            flex-direction: row;

            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transform: translateY(-5px);
            }

            .card-img-top {
                width: 50%;
                height: 100%;
                object-fit: cover;
            }

            .card-body {
                padding: 1.25rem;

                .card-title {
                    font-size: 1.35rem;
                    font-weight: bold;
                    color: #0f3460;
                    
                }

                .card-text {
                    font-size: 1rem;
                    color: #666;
                    margin-bottom: 1rem;
                }

                p {
                    color: #333;
                    font-size: 0.9rem;
                }

                
            }
        }
    }

    .filters-container {
        margin-bottom: 2rem;

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #0f3460;
            margin-bottom: 1rem;
            text-align: center;
        }

        .event-filters {
            display: flex;
            gap: 1.25rem;
            justify-content: center;
            flex-wrap: nowrap;

            .filter {
                padding: 0.75rem 2rem;
                border-radius: 25px;
                border: 1px solid #ccc;
                font-size: 1rem;
                background-color: transparent;
                color: #0f3460;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #0f3460;
                    color: white;
                }
            }
        }
    }

    .dashboard__title {
        font-size: 2.25rem;
        font-weight: bold;
        color: #16213e;
        margin-bottom: 2rem;
        text-align: center;
    }

    .row {
        width: 100%;
        display: flex;
        gap: 0rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .create-event-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .create-event-btn {
            padding: 1rem 2rem;
            border-radius: 50px;
            font-size: 1.25rem;
            color: #fff;
            background-color: #0f3460;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: #16213e;
                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            &:active {
                transform: translateY(2px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }
}   